<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Simple Calculator</title>
</head>
<body>
<section id="main">
    <form>
        <input type="text" class="face">
    </form>
   
    <div class ="faceButtons">
        <button class="press lpurpleC" data-num="">C</button>
        <button class="press lpurpleB" data-num=""><=</button>
        <button class="press lpurpleP" data-num="%">%</button>
        <button class="press lpurple" data-num="/">/</button>
        <button class="press white" data-num="7">7</button>
        <button class="press white" data-num="8">8</button>
        <button class="press white" data-num="9">9</button>
        <button class="press lpurple" data-num="*">X</button>
        <button class="press white" data-num="4">4</button>
        <button class="press white" data-num="5">5</button>
        <button class="press white" data-num="6">6</button>
        <button class="press lpurple" data-num="-">-</button>
        <button class="press white" data-num="1">1</button>
        <button class="press white"data-num="2">2</button>
        <button class="press white"data-num="3">3</button>
        <button class="press lpurple" data-num="+">+</button>
        <button class="press goaway">...</button>
        <button class="press white"data-num="0">0</button>
        <button class="press white"data-num=".">.</button>
        <button class="press dpurple"data-num="">=</button>
    </div>
</section>
<script type="text/javascript" src="main.js"></script>
</body>
</html>